.alerta {
    padding: 10px;
    color: white;
    background-color: #f6c23e;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  .alert {
    padding: 10px;
    color: #858796;
    background-color: #fff;
    margin-bottom: 20px;
    border-radius: 10px;
  }

  
  .btnFechar {
    margin-left: 15px;
    color: #858796;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .btnFechar:hover {
    color: black;
  }